server {
  listen 80;
  server_tokens off;
  return 301 https://$host$request_uri;
}

<% @docker_conf.each do |image, v| -%>
<% next if image == 'chef_vault' -%>
server {
  listen <%= v['port'] %>;
  server_name <%= v['virtualhost'] %>;
  server_tokens off;

  client_max_body_size 0;

  ssl on;
  ssl_certificate /etc/ssl/<%= v['virtualhost'] %>.crt;
  ssl_certificate_key /etc/ssl/<%= v['virtualhost'] %>.key;
  ssl_ciphers 'ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4';
  ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
  ssl_prefer_server_ciphers on;
  ssl_session_cache  builtin:1000  shared:SSL:10m;
  ssl_session_timeout  5m;
  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

  proxy_set_header Host $http_host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto https;
  proxy_set_header X-Forwarded-Ssl on;
  proxy_read_timeout 3600;
  proxy_connect_timeout 300;
  proxy_redirect off;
  proxy_buffering off;
  gzip off;

  access_log /var/log/nginx/access_<%= v['virtualhost'] %>_<%= v['port'] %>.log;
  error_log /var/log/nginx/error_<%= v['virtualhost'] %>_<%= v['port'] %>.log;

  location / {
    proxy_pass http://localhost:<%= v['docker_port'].split(':')[1] %>;
  }
}

<% if v['internal_port'] -%>
server {
  listen <%= v['internal_ip'] %>:<%= v['internal_port'] %>;
  server_name <%= v['internal_host'] %>;
  server_tokens off;

  client_max_body_size 0;

  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

  proxy_set_header Host $http_host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_read_timeout 3600;
  proxy_connect_timeout 300;
  proxy_redirect off;
  proxy_buffering off;
  gzip off;

  access_log /var/log/nginx/access_<%= v['internal_host'] %>_<%= v['internal_port'] %>.log;
  error_log /var/log/nginx/error_<%= v['internal_host'] %>_<%= v['internal_port'] %>.log;

  location / {
    proxy_pass http://localhost:<%= v['docker_port'].split(':')[1] %>;
  }
}
<% end -%>
<% end -%>
